<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wakafa.listview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Others.ChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/message"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@drawable/message"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".WebView" />-->
        <activity android:name=".Activity.WebViewActivity" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <service
            android:name=".Service.CheckService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustResize|stateVisible"></activity>

        <receiver android:name=".NoteWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="cn.wakafa.listview.Service.WidgetViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
    </application>

</manifest>